Repository gfa/puppet-bolt: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-validate, puppet-lint, shellcode, shfmt, ruby, pycodestyle, black, yamllint, eyamllint, ymllint, epp, erb

puppet-validate:
  description: Validate syntax of Puppet manifests
  entry: puppet parser validate
  language: system
  name: Validate Puppet manifests

puppet-lint:
  description: Check Puppet manifests for stylistic problems
  entry: puppet-lint
  language: system
  name: puppet-lint

shellcode:
  description: Validate syntax of shell scripts
  entry: shellcheck
  language: system
  name: shellcode

shfmt:
  description: Validate shell scripts formating
  entry: shfmt shfmt -d
  language: system
  name: shfmt

ruby:
  description: Validate syntax of ruby code
  entry: ruby -c
  language: system
  name: ruby

pycodestyle:
  description: Validate syntax of python code using pycodestyle
  entry: pycodestyle --ignore=W503
  language: system
  name: pycodestyle

black:
  description: Validate format of python code usin black
  entry: black --check
  language: system
  name: black

yamllint:
  description: Validate yaml files
  entry: yamllint
  language: system
  name: yamllint

eyamllint:
  description: Validate eyaml files
  entry: yamllint
  language: system
  name: eyamllint

ymllint:
  description: Validate eyaml files
  entry: yamllint
  language: system
  name: ymllint

epp:
  description: Validate epp files
  entry: puppet epp validate
  language: system
  name: epp

erb:
  description: Validate erb files
  language: system
  name: erb
  entry: bash -c 'echo "$@" | xargs -r -I FILE erb -P -x -T '-' FILE | ruby -c' --

format shell scripts with shfmt
  site/profile/files/etc/munin/plugins/systemd_units
  site/profile/files/monitoring/munin/node/plugins/ipset
  site/profile/files/networking/service/update-ipsets
  site/profile/files/service/dovecot/dovecot-zlib-cron-compressor.sh
  site/profile/files/service/dovecot/sa-learn-ham.sh
  site/profile/files/service/dovecot/sa-learn-spam.sh
  site/profile/files/usr/local/bin/puppet-etckeeper-commit-post
  site/profile/files/usr/local/bin/puppet-etckeeper-commit-pre
Due: shellcode, shfmt

store and validate ssh keys used in tunnels
  site/site_tunnels/templates/etc/systemd/system/tunnel.service.erb
Due: erb

only allow imaps connections
  site/profile/manifests/networking/firewall/service/dovecot.pp
Due: puppet-validate, puppet-lint

install lmtp and imap plugins for dovecot
  site/profile/manifests/service/dovecot.pp
Due: puppet-validate, puppet-lint

install sieve and managesive
  site/profile/manifests/service/dovecot.pp
Due: puppet-validate, puppet-lint

send email from the gitlab pipeline
  .gitlab-ci.yml
Due: ymllint

make apt non interactive
  .gitlab-ci.yml
Due: ymllint

manage the prometheus smokeping exporter
  site/site_prometheus/manifests/exporters/smokeping.pp
  site/site_prometheus/templates/etc/default/prometheus-smokeping-prober.epp
Due: puppet-validate, puppet-lint, epp

cleanup tunnel configs
  site/site_tunnels/manifests/init.pp
Due: puppet-validate, puppet-lint

fix the name of the package
  site/site_prometheus/manifests/exporters/smokeping.pp
Due: puppet-validate, puppet-lint

expose extended-statistics in unbound
  site/profile/templates/etc/unbound/unbound.conf.d/local.conf.epp
Due: epp

start to configure a prometheus setup
  site/site_prometheus/manifests/init.pp
Due: puppet-validate, puppet-lint

run g10k from the puppet-apply script
  .gitlab-ci.yml
  puppet-apply
Due: ymllint

reformat puppet-apply according to shfmt
  puppet-apply
Due: none

add a simple script to reload/restart services after renewing certs
  site/profile/manifests/security/ssl/dehydrated.pp
  site/profile/templates/etc/dehydrated/hooks/all-services-restart.sh.erb
Due: puppet-validate, puppet-lint, erb

make site_files a class
  site/site_files/manifests/init.pp
Due: puppet-validate, puppet-lint

alefix to the Gemfile
  Gemfile
Due: none

add a safety check in case mismatched hostname
  puppet-apply
Due: none

use ntft instead of gotify
  .gitlab-ci.yml
Due: ymllint

use native direnv ruby management
  .envrc
  .gitignore
  Gemfile.lock
  README.md
Due: none

changes required after upgrading a server to bookworm
  Puppetfile
  site/profile/manifests/networking/firewall/pre.pp
Due: puppet-validate, puppet-lint

update the firewall module version
  Puppetfile
Due: none

solve a warning
  Puppetfile
Due: none

use a newer version of puppetlabs-apt
  Puppetfile
Due: none

use the latest release of puppetlabs/stdlib
  Puppetfile
Due: none

send logs when puppet fails
  .gitlab-ci.yml
Due: ymllint

revert using newer modules
  Puppetfile
Due: none

disable the uuidd.[socket|service]
  site/base/manifests/init.pp
  site/profile/manifests/service/uuid.pp
Due: puppet-validate, puppet-lint

use a newer unattended_upgrades module
  Puppetfile
  site/profile/manifests/package/unattended_upgrades.pp
Due: puppet-validate, puppet-lint

add some ansible bytes
  .gitignore
  ansible.cfg
Due: none

deploy and configure promtail
  site/base/manifests/init.pp
  site/profile/files/etc/apt/trusted.gpg.d/grafana.asc
  site/profile/manifests/logging/promtail.pp
  site/profile/templates/etc/promtail/config.yml.epp
Due: puppet-validate, puppet-lint, epp

ops i forgot the fw
  site/profile/manifests/logging/promtail.pp
Due: puppet-validate, puppet-lint

fix resources that keep triggering
  site/profile/manifests/package/etckeeper.pp
  site/profile/manifests/service/puppet.pp
Due: puppet-validate, puppet-lint

moar labels in loki
  site/profile/templates/etc/promtail/config.yml.epp
Due: epp

add a bunch of labels to loki logs
  site/profile/templates/etc/promtail/config.yml.epp
Due: epp

never used, removing
  site/base/manifests/init.pp
  site/profile/manifests/logging/journald/upload.pp
Due: puppet-validate, puppet-lint

/me sighs
  site/profile/manifests/networking/firewall/pre.pp
Due: puppet-validate, puppet-lint

make iptables management optional
  site/profile/manifests/logging/promtail.pp
  site/profile/manifests/monitoring/prometheus/node_exporter.pp
  site/profile/manifests/networking/firewall.pp
  site/site_tunnels/manifests/init.pp
Due: puppet-validate, puppet-lint

Path conditions:
  puppet-validate: any of: \.pp$
  puppet-lint: any of: \.pp$
  shellcode: any of: \.sh$
  shfmt: any of: \.sh$
  ruby: any of: \.rb$
  pycodestyle: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.yaml$
  eyamllint: any of: \.eyaml$
  ymllint: any of: \.yml$
  epp: any of: \.epp$
  erb: any of: \.erb$
