Repository gfa/puppet-bolt: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-validate, puppet-lint, shellcode, shfmt, ruby, pycodestyle, black, yamllint, eyamllint, ymllint, epp, erb

puppet-validate:
  description: Validate syntax of Puppet manifests
  entry: puppet parser validate
  language: system
  name: Validate Puppet manifests

puppet-lint:
  description: Check Puppet manifests for stylistic problems
  entry: puppet-lint
  language: system
  name: puppet-lint

shellcode:
  description: Validate syntax of shell scripts
  entry: shellcheck
  language: system
  name: shellcode

shfmt:
  description: Validate shell scripts formating
  entry: shfmt shfmt -d
  language: system
  name: shfmt

ruby:
  description: Validate syntax of ruby code
  entry: ruby -c
  language: system
  name: ruby

pycodestyle:
  description: Validate syntax of python code using pycodestyle
  entry: pycodestyle --ignore=W503
  language: system
  name: pycodestyle

black:
  description: Validate format of python code usin black
  entry: black --check
  language: system
  name: black

yamllint:
  description: Validate yaml files
  entry: yamllint
  language: system
  name: yamllint

eyamllint:
  description: Validate eyaml files
  entry: yamllint
  language: system
  name: eyamllint

ymllint:
  description: Validate eyaml files
  entry: yamllint
  language: system
  name: ymllint

epp:
  description: Validate epp files
  entry: puppet epp validate
  language: system
  name: epp

erb:
  description: Validate erb files
  language: system
  name: erb
  entry: bash -c 'echo "$@" | xargs -r -I FILE erb -P -x -T '-' FILE | ruby -c' --

make dnsmasq management optional
  site/profile/manifests/networking/service/dnsmasq.pp
Due: puppet-validate, puppet-lint

make resolvconf management optional
  site/profile/manifests/networking/service/resolvconf.pp
Due: puppet-validate, puppet-lint

fix logic, lolz
  site/profile/manifests/networking/firewall.pp
Due: puppet-validate, puppet-lint

moar debug
  .gitlab-ci.yml
Due: ymllint

add invalid hostnames to /etc/hosts
  .gitlab-ci.yml
Due: ymllint

configure vector
  site/base/manifests/init.pp
  site/site_vector/files/etc/apt/trusted.gpg.d/datadog-archive-keyring.gpg
  site/site_vector/manifests/init.pp
  site/site_vector/templates/etc/vector/vector.yaml.epp
Due: puppet-validate, puppet-lint, epp

stop vector until is configured
  site/site_vector/manifests/init.pp
Due: puppet-validate, puppet-lint

no longer install vnstat
  site/base/manifests/init.pp
Due: puppet-validate, puppet-lint

no longer uninstall puppet
  puppet-apply
Due: none

remove fail2ban since it is not used
  Puppetfile
Due: none

add an ansible inventory script
  .gitignore
  inventory
Due: none

make tunnels optional
  site/site_tunnels/manifests/init.pp
Due: puppet-validate, puppet-lint

make the smokeping probe config more extendable
  site/site_prometheus/manifests/exporters/smokeping.pp
  site/site_prometheus/templates/etc/default/prometheus-smokeping-prober.epp
Due: puppet-validate, puppet-lint, epp

manage the fw for smokeping probe
  site/site_prometheus/manifests/exporters/smokeping.pp
Due: puppet-validate, puppet-lint

purge puppet cache
  site/profile/manifests/service/puppet.pp
Due: puppet-validate, puppet-lint

fix purge-purge-cache command
  site/profile/manifests/service/puppet.pp
Due: puppet-validate, puppet-lint

add systemd-timesync iptables rules only when needed
  site/profile/manifests/networking/service/ntp/client.pp
Due: puppet-validate, puppet-lint

stop promtail
  site/profile/manifests/logging/promtail.pp
Due: puppet-validate, puppet-lint

Revert "stop promtail"
  site/profile/manifests/logging/promtail.pp
Due: puppet-validate, puppet-lint

slowly start to deploy wireguard
  Puppetfile
  hiera.yaml
  site/site_vpn/manifests/client.pp
  site/site_vpn/manifests/common.pp
  site/site_vpn/manifests/server.pp
Due: puppet-validate, puppet-lint, yamllint

change the format for facts_db
  site/site_facts/templates/var/tmp/facts_db.yaml.erb
Due: erb

change the way facts_db is handled
  puppet-apply
Due: none

replace the toplevel key (hostname) dots with underscores
  site/site_facts/templates/var/tmp/facts_db.yaml.erb
Due: erb

change one more time the format for facts_db to be able to iterate over them
  site/site_facts/templates/var/tmp/facts_db.yaml.erb
Due: erb

more wireguard configuration
  site/site_vpn/manifests/client.pp
  site/site_vpn/manifests/common.pp
  site/site_vpn/manifests/server.pp
Due: puppet-validate, puppet-lint

i dont want to get 0 ever
  site/site_vpn/manifests/client.pp
  site/site_vpn/manifests/server.pp
Due: puppet-validate, puppet-lint

store the facts_db as an artifact
  .gitlab-ci.yml
Due: ymllint

create a custom fact to expose vpn0 ip
  site/profile/manifests/service/puppet.pp
  site/site_vpn/manifests/client.pp
Due: puppet-validate, puppet-lint

finish automagic wireguard config
  site/profile/manifests/service/puppet.pp
  site/site_vpn/manifests/client.pp
  site/site_vpn/manifests/common.pp
  site/site_vpn/manifests/server.pp
Due: puppet-validate, puppet-lint

trust vpn traffic
  site/site_vpn/manifests/common.pp
Due: puppet-validate, puppet-lint

firewall fixes for the vpn
  site/site_vpn/manifests/client.pp
  site/site_vpn/manifests/common.pp
  site/site_vpn/manifests/server.pp
Due: puppet-validate, puppet-lint

provide dns resolution within the vpn
  site/site_vpn/manifests/common.pp
  site/site_vpn/manifests/resolver.pp
  site/site_vpn/templates/etc/dnsmasq.d/20-vpn.conf.erb
Due: puppet-validate, puppet-lint, erb

make optional to run wg-quick
  site/site_vpn/manifests/client.pp
  site/site_vpn/manifests/common.pp
Due: puppet-validate, puppet-lint

some more routing fixes
  site/site_vpn/manifests/client.pp
Due: puppet-validate, puppet-lint

idk why but this mtu worked better
  site/site_vpn/manifests/client.pp
  site/site_vpn/manifests/server.pp
Due: puppet-validate, puppet-lint

Path conditions:
  puppet-validate: any of: \.pp$
  puppet-lint: any of: \.pp$
  shellcode: any of: \.sh$
  shfmt: any of: \.sh$
  ruby: any of: \.rb$
  pycodestyle: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.yaml$
  eyamllint: any of: \.eyaml$
  ymllint: any of: \.yml$
  epp: any of: \.epp$
  erb: any of: \.erb$
