Repository gfa/puppet-bolt: changes, and which pre-commit hooks are due for each by the changed paths.
All: puppet-validate, puppet-lint, shellcode, shfmt, ruby, pycodestyle, black, yamllint, eyamllint, ymllint, epp, erb

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: puppet-validate
        description: Validate syntax of Puppet manifests
        entry: puppet parser validate
        files: \.pp$
        language: system
        name: Validate Puppet manifests
      - id: puppet-lint
        description: Check Puppet manifests for stylistic problems
        entry: puppet-lint
        files: \.pp$
        language: system
        name: puppet-lint
      - id: shellcode
        description: Validate syntax of shell scripts
        entry: shellcheck
        files: \.sh$
        language: system
        name: shellcode
      - id: shfmt
        description: Validate shell scripts formating
        entry: shfmt shfmt -d
        files: \.sh$
        language: system
        name: shfmt
      - id: ruby
        description: Validate syntax of ruby code
        entry: ruby -c
        files: \.rb$
        language: system
        name: ruby
      - id: pycodestyle
        description: Validate syntax of python code using pycodestyle
        entry: pycodestyle --ignore=W503
        files: \.py$
        language: system
        name: pycodestyle
      - id: black
        description: Validate format of python code usin black
        entry: black --check
        files: \.py$
        language: system
        name: black
      - id: yamllint
        description: Validate yaml files
        entry: yamllint
        files: \.yaml$
        language: system
        name: yamllint
      - id: eyamllint
        description: Validate eyaml files
        entry: yamllint
        files: \.eyaml$
        language: system
        name: eyamllint
      - id: ymllint
        description: Validate eyaml files
        entry: yamllint
        files: \.yml$
        language: system
        name: ymllint
      - id: epp
        description: Validate epp files
        entry: puppet epp validate
        files: \.epp$
        language: system
        name: epp
      - id: erb
        description: Validate erb files
        files: \.erb$
        language: system
        name: erb
        entry: bash -c 'echo "$@" | xargs -r -I FILE erb -P -x -T '-' FILE | ruby -c' --

run wireguard over ipv4 only since it performs better in my boxes
  Puppetfile
  site/site_vpn/manifests/client.pp
Due: puppet-validate, puppet-lint

run the site_facts class even in noop mode
  Puppetfile
  site/site_facts/manifests/init.pp
Due: puppet-validate, puppet-lint

change vpn dns entries from addresses to hosts-records
  site/site_vpn/templates/etc/dnsmasq.d/20-vpn.conf.erb
Due: erb

drop tunnel support and remove its files
  site/site_tunnels/manifests/init.pp
Due: puppet-validate, puppet-lint

allow the transmission user to connect to news servers
  site/profile/manifests/networking/firewall/service/transmission.pp
Due: puppet-validate, puppet-lint

only remove files from puppet's cache
  site/profile/manifests/service/puppet.pp
Due: puppet-validate, puppet-lint

wrap puppet-apply in screen to run all of them in parallel
  .gitlab-ci.yml
Due: ymllint

record last puppet run
  site/profile/manifests/service/puppet.pp
Due: puppet-validate, puppet-lint

another way to run puppet in parallel
  .gitlab-ci.yml
Due: ymllint

just wait for the commands to finish :(
  .gitlab-ci.yml
Due: ymllint

store the last time puppet ran in utc instead of local time
  site/profile/manifests/service/puppet.pp
Due: puppet-validate, puppet-lint

go back to have notifications in pipeline for failed puppet runs
  .gitlab-ci.yml
Due: ymllint

no longer wait a fix time for puppet runs to finish
  .gitlab-ci.yml
Due: ymllint

force the removal of /etc/tunnels
  site/site_tunnels/manifests/init.pp
Due: puppet-validate, puppet-lint

Revert "no longer wait a fix time for puppet runs to finish"
  .gitlab-ci.yml
Due: ymllint

try something else to stop the job as soon as done
  .gitlab-ci.yml
Due: ymllint

try something else since the previous attempt left jobs running for hours
  .gitlab-ci.yml
Due: ymllint

trace script commands
  .gitlab-ci.yml
Due: ymllint

update modules
  Puppetfile
  site/profile/manifests/networking/service/ntp/client.pp
Due: puppet-validate, puppet-lint

if there's no data from facts_db to render the dnsmasq template skip it
  site/site_vpn/manifests/resolver.pp
Due: puppet-validate, puppet-lint

do not run g10k in the apply script under ci
  .gitlab-ci.yml
  puppet-apply
Due: ymllint

nixos fixes
  puppet-apply
Due: none

rename the env vars containing the eyaml priv and pub keys
  puppet-apply
Due: none

remove promtail
  site/base/manifests/init.pp
  site/profile/manifests/logging/promtail/clean.pp
Due: puppet-validate, puppet-lint

use newer puppet modules for newer debian releases
  Puppetfile
  hiera.yaml
  site/base/manifests/init.pp
  site/profile/manifests/networking/firewall/pre.pp
  site/site_facts/templates/var/tmp/facts_db.yaml.erb
Due: puppet-validate, puppet-lint, yamllint, erb

handle the eyaml key as a file instead of env var
  .gitignore
  .gitlab-ci.yml
  puppet-apply
Due: ymllint

forcefully call the hooks after renewing
  site/profile/manifests/security/ssl/dehydrated.pp
Due: puppet-validate, puppet-lint

configure bbr
  site/base/manifests/init.pp
  site/profile/manifests/networking/bbr.pp
Due: puppet-validate, puppet-lint

remove outdated pinned packages
  site/profile/manifests/package/pinning.pp
Due: puppet-validate, puppet-lint

also create the vpn config fact for the server
  site/site_vpn/manifests/server.pp
Due: puppet-validate, puppet-lint

sync the facts_db from s3
  .envrc
  .gitlab-ci.yml
  puppet-apply
Due: ymllint

Gemfile: fix hiera-eyaml LoadError on Ruby 3.4+
  Gemfile
  Gemfile.lock
Due: none

restart smokeping prober after failures
  site/site_prometheus/manifests/exporters/smokeping.pp
Due: puppet-validate, puppet-lint
